*.exe
*.o
/ex2-Lista1/nbproject/private/
/ex2-Lista1/build/
/Lista 2/ex1-Lista2/nbproject/private/
/Lista 2/ex1-Lista2/build/
/Lista 2/ex5-Lista2/ex5/nbproject/private/
/Lista 2/ex5-Lista2/ex5/build/
/Lista 2/ex2-Lista2/ex2-Lista2/nbproject/private/
/Lista 2/ex2-Lista2/ex2-Lista2/build/
/Lista 2/ex2-Lista2/build/
/Lista 2/ex2-Lista2/nbproject/private/
/Lista 2/ex2-Lista2/dist/
/ex4-Lista2/build/
/ex4-Lista2/nbproject/private/
/Lista 2/ex4-Lista2/build/
/Lista 2/ex4-Lista2/nbproject/private/
/Lista 2/ex5-Lista2/nbproject/private/
/Lista 2/ex5-Lista2/build/
/Lista 3/ex3-Lista3/nbproject/private/
